skeleton-odido-demo-ucs/sharedLibrary/Schemas/MapperInputSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tibex="http://www.tibco.com/bpel/2007/extensions" xmlns:tns="http://www.tibco.com/namespaces/tnt/plugins/generalactivities/mapper/1562569084274" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/namespaces/tnt/plugins/generalactivities/mapper/1562569084274">
  <xsd:complexType name="Root">
    <xsd:sequence>
      <xsd:element name="input1" type="xsd:string"/>
      <xsd:element name="input2" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="MapperInput" tibex:source="bw.generalactivities.mapper" type="tns:Root"/>
</xsd:schema>
